h1 {color: green;
   font-size: 80px;
   text-align: center;
  }
body {background-image: url('./Imagen_fondo.png');
     background-repeat: no-repeat; /*Para que no se repita*/
      background-size: cover; /**/
     }
